---
- name: Install Amazon Corretto 21 on Amazon Linux 2023
  hosts: all
  become: true
  tasks:
    - name: Install Amazon Corretto 21 JDK
      ansible.builtin.dnf:
        name: java-21-amazon-corretto-devel.x86_64
        state: present
