---
- name: Operate Spring-Boot
  hosts: all
  become: true
  tasks:
    - name: Install Amazon Corretto 21 JDK
      ansible.builtin.dnf:
        name: java-21-amazon-corretto-devel.x86_64
        state: present

    - name: Install git
      ansible.builtin.dnf:
        name: git
        state: present

    - name: git clone
      ansible.builtin.git:
        repo: https://github.com/koujienami/aws-study.git
        dest: /home/ec2-user/aws-study

    - name: make gradlew executable
      command: chmod +x ./gradlew
      args:
       chdir: /home/ec2-user/aws-study/
      changed_when: false

    - name: start spring boot in backgroud with nohup
      command: nohup ./gradlew bootRun &
      args:
        chdir: /home/ec2-user/aws-study
      changed_when: false