---
- name: Operate Spring-Boot
  hosts: all
  become: true
  tasks:
    - name: Install Amazon Corretto 21 JDK
      ansible.builtin.dnf:
        name: java-21-amazon-corretto-devel.x86_64
        state: present

- hosts: all
  become: true
  tasks:
    - name: Install git
      ansible.builtin.dnf:
        name: git
        state: present

- hosts: all
  become: true
  tasks:
  - name: git clone
    ansible.builtin.git:
      repo: https://github.com/koujienami/aws-study.git
      dest: /home/ec2-user/spring-boot