[Unit]
Description=Spring Boot Application
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User={{ springboot_user }}
WorkingDirectory={{ springboot_workdir }}
EnvironmentFile=/etc/sysconfig/springboot
ExecStart=/usr/bin/java -jar {{ springboot_workdir }}/build/libs/{{ springboot_war }}
Restart=always
RestartSec=10
TimeoutStartSec=30
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target