name: Terraform Push

on:
  push:
    branches: [main]
    paths:
      - "*.tf"
      - "*.tftest.hcl"
      - ".github/workflows/*.yml"
      - "ansible/**"

jobs:
  # Push 用ジョブ (承認必須)
  terraform-apply:
    runs-on: ubuntu-latest
    environment: production
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_DEFAULT_REGION: ap-northeast-1

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v1
        with:
          terraform_version: 1.9.5

      - name: Terraform Init
        run: terraform init          

      - name: Terraform Destroy
        run: terraform destroy -auto-approve

      - name: Terraform Plan
        run: terraform plan        

      - name: Terraform Test
        run: terraform test

      - name: Terraform Apply
        run: terraform apply -auto-approve